<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lista brettsport statistikk</title>
    <meta name="description" content="Lista brettsport statistikk">
    <meta name="author" content="Tallak Tveide">
  </head>
  <body>
    <form action="report" method="get">
      <p>Velg hvilke steder som inngår i rapporten</p>

      <p>
        <% SPOTS.each do |spot| %>
          <input type="checkbox" name="spots[<%= spot[:id] %>]" value="<%= spot[:id] %>"><%= spot[:tekst] %><br/>
        <% end %>
      </p>

      <p>
        <input type="radio" name="logikk" value="en" checked>Vis der hvor en av de valgte stedene fungerer<br/>
        <input type="radio" name="logikk" value="alle">Vis der hvor alle stedene fungerer samtidig<br/>
      </p>

      <p>
        <input type="checkbox" name="weekend" value="ja">Ikke vis normal arbeidstid som bra tid<br/>
        <input type="checkbox" name="regn" value="ja">Fjern dager med mye regn<br/>
      </p>

      <p>
      <input type="submit" value="Rapport">
      </p>
    </form>
  </body>
</html>
